@charset "utf-8";
body{
  background-color:#afeeee;
  text-align: center;
}
html{
  margin-top:12%;
  text-align: center;
}
.gokurou{
  text-align: center;
  margin-top:12%;
  height:10%;
  width:auto;
}
