@charset "utf-8";
body{
  margin:0px;
  background-color: #afeeee;
  align-items: center;
}
html{
  margin-top:12%;  
  align-items: center;
}
.ome{
  text-align: center;
  margin-top:12%;
}
.unti{
  align-items: center;
  height:20%;
  width:auto;
}
